.cardModalCss{
    position: absolute;
    z-index: 1;
    right: 8em;
    top: 12em;
    background-color: #b9a2a2;
    width: 40%;
    padding: 15px;
    border-radius: 15px;
}
.cardModalCss ul{
    padding-left: 15px;
}
.text-morrom{
    color: maroon;
    display: inline-block;
    width: 40%;
}
.amount_multiply{
    color: #000;
    background-color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
}
.add_remove_btn{
    color: maroon;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid maroon;
    border-radius: 5px;
    margin: 5px;
    width: 30px;
    text-align: center;
}